:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #F96743;
  /* --background-color: #1C1E22; */
  --background-color: #010409;
  --secondary-background-color: #1A1D21;
  --header-color: #23272F;
  --muted-color: #A1A4AA;
  --border-color: #525252;
  --hover-color: #2A2D35;

  --transparent-overlay: rgba(0, 0, 0, 0.5);
  --box-shadow: rgba(0, 0, 0, 0.15);
}

[data-theme="light"] {
  --primary-text-color: #141414;
  --secondary-text-color: #F96743;
  --background-color: #ffffff;
  --secondary-background-color: #f8f9fa;
  --header-color: #ffffff;
  --muted-color: #666666;
  --border-color: #dddddd;
  --accent-color: #F96743;
  --hover-color: #f1f3f4;
}

body {
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  min-height: 100vh;
}